---
import "../styles/global.css";
---

<nav
  class="sticky m-5 top-0 left-0 right-0 rounded-lg flex flex-row justify-center justify-items-center bg-gray-100 shadow-2xl text-2xl"
>
  <a
    href="/"
    class="text-slate-800 box-decoration-clone p-4 rounded-sm hover:text-slate-500"
  >
    Home
  </a>
  <a
    href="/history/"
    class="text-slate-800 box-decoration-clone p-4 rounded-sm hover:text-slate-500"
  >
    History
  </a>
</nav>
